.wg5IzHVUtkDeexTRmOJO svg {
    font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
}

.wg5IzHVUtkDeexTRmOJO canvas,
.wg5IzHVUtkDeexTRmOJO svg {
    position: absolute;
    top: 0;
    left: 0;
}

.wg5IzHVUtkDeexTRmOJO {
    position: relative;
}

.GQ1pOeNCtBjVX2XU8IRs rect.CFj5KFBU9eij7d1bYAjg {
    fill: rgba(100, 100, 100, 0.15);
    stroke: #fff;
}

.GQ1pOeNCtBjVX2XU8IRs:hover rect.CFj5KFBU9eij7d1bYAjg {
    stroke: #222;
    stroke-dasharray: 5, 5;
}

.GQ1pOeNCtBjVX2XU8IRs rect.CFj5KFBU9eij7d1bYAjg:hover {
    stroke-dasharray: none;
}

.Iam7Q3fqjdPGmhR36yVI .label-name {
    transform-origin: bottom left;
}

.Kj2exUhTSWqOmmjPCuqi .aDASlX4IJHwjidafS3RO {
    font-size: 16px;
    font-weight: bold;
}

.Kj2exUhTSWqOmmjPCuqi {
    cursor: move;
    font-size: 16px;
}

.Kj2exUhTSWqOmmjPCuqi text {
    fill: #111;
    text-anchor: right;
    font-size: 13px;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.Kj2exUhTSWqOmmjPCuqi line,
.Kj2exUhTSWqOmmjPCuqi path {
    fill: none;
    stroke: #777;
    stroke-width: 1;
}

.Kj2exUhTSWqOmmjPCuqi .tick {
    width: 200px;
}

.hip_thm--dark .GQ1pOeNCtBjVX2XU8IRs rect.CFj5KFBU9eij7d1bYAjg {
    fill: rgba(100, 100, 100, 0.15);
    stroke: #ddd;
}

.hip_thm--dark .Kj2exUhTSWqOmmjPCuqi text {
    fill: #f2f2f2;
    text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
}

.hip_thm--dark .Kj2exUhTSWqOmmjPCuqi line,
.hip_thm--dark .Kj2exUhTSWqOmmjPCuqi path {
    stroke: #777;
}

.Ng6pw_PS5TAD7YVU7G0J {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
}

.hip_thm--light {
    background: #f7f7f7;
    color: #404040;
}

.Ng6pw_PS5TAD7YVU7G0J a {
    text-decoration: none;
}

.Wi0XMK2_dAX3w7MbLWUY {
    padding: 0 3.5%;
}

.UbU7TI1lRUtEWe2M4C21 rect {
    fill: none;
}

.kUMPTe9OyckLXwPNtROz {
    fill: none;
}

.hKjyOQGG9GLVLimNNZF0 {
    white-space: nowrap;
}

.l2JivVZqXnDbvbrzSEsz,
.pDfRCUMhSa1X0wrxsnRA,
.zwITHnVeGRZOlgGUlNjq {
    float: left;
}

.l2JivVZqXnDbvbrzSEsz {
    width: 23%;
    margin: 0 1%;
}

.pDfRCUMhSa1X0wrxsnRA {
    width: 31.3%;
    margin: 0 1%;
}

.zwITHnVeGRZOlgGUlNjq {
    width: 48%;
    margin: 0 1%;
}

.Ng6pw_PS5TAD7YVU7G0J h3 {
    margin: 12px 0 9px;
}

.Ng6pw_PS5TAD7YVU7G0J h3 small {
    color: #888;
    font-weight: normal;
}

.Ng6pw_PS5TAD7YVU7G0J p {
    margin: .6em 0;
}

.Ng6pw_PS5TAD7YVU7G0J small {
    line-height: 1.2em;
}

.lNLgOnSe5CrDJ52Qt1Ev,
.lSUw1WXoeJgyoBlaAjgm {
    width: 0%;
    font-weight: bold;
    height: 100%;
}

.lNLgOnSe5CrDJ52Qt1Ev {
    background: #3d9aff;
    border-right: 1px solid #666;
}

.lSUw1WXoeJgyoBlaAjgm {
    background: rgba(171, 171, 171, 0.5);
    border-right: 1px solid #999;
}

.yTPY_dU6No6NmguFY4Ae {
    height: 2px;
    line-height: 2px;
    width: 100%;
}

.pBrKGvMuRDrm_uGQxXDA {
    width: 268px;
    float: left;
}

.i_kc8a3fA1K844GYT5rG {
    float: right;
    height: 24px;
    line-height: 24px;
}

.G7kGDCJ2wRcbxJYucScA button {
    border-color: #000 !important;
}

.G7kGDCJ2wRcbxJYucScA button:disabled {
    border: solid 1px transparent !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 12px;
}

.WjIbCDvddaLpQmrblvW8 .tick line {
    color: #9a9a9a26;
}

.ITdBZyxTvU0VhTZ0rCN9 .tick line {
    color: #9a9a9a26;
}

.rQPZDXaSBYZl5KLn9PMe {
    min-height: 100vh;
}

.CjV5A_mhG9V7oL8ANwD5 {
    overflow-x: auto;
}

.ttlPsJqaxqf7u3QPzi9S {
    height: 10px;
    width: 10px;
    display: inline-block;
}

.mBb9YowvA0WjPWUaAKjO {
    display: inline-block;
    width: 0px;
}

.NVl5GuI2zpYwWtAPH2Rc {
    top: 100%;
    left: 0%;
}

.mBb9YowvA0WjPWUaAKjO .YI2pKEY78QpfucSS9lgq {
    visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
}

.hKjyOQGG9GLVLimNNZF0:hover+.YI2pKEY78QpfucSS9lgq {
    visibility: visible;
}

.hKjyOQGG9GLVLimNNZF0 {
    color: #5e5e5e;
}

.hKjyOQGG9GLVLimNNZF0:hover {
    color: #000;
    text-decoration: underline dotted;
}

.hip_thm--dark .hKjyOQGG9GLVLimNNZF0 {
    color: #b7b7b7;
}

.hip_thm--dark .hKjyOQGG9GLVLimNNZF0:hover {
    color: #fff;
}

.Gko9sDmSCvhp6ssPh2z6 line {
    stroke: #000;
    stroke-width: 2;
}

.x0UosWszvrm1OAKIC9Vv rect {
    fill: #9467bd;
}

.Bw2q40KyLGHMdfKDGTAQ {
    width: 

100%;
    height: 50px;
    font-family: monospace;
    font-size: 12pt;
    resize: none;
    overflow: hidden;
}

.j4rXWdwv9jioT9pZsy9G {
    height: 25px !important;
}

.G7kGDCJ2wRcbxJYucScA {
    border-bottom: 1px solid rgba(100, 100, 100, 0.35);
    background: #e2e2e2;
    padding: 6px 24px 4px;
    line-height: 24px;
}

.G7kGDCJ2wRcbxJYucScA h1 {
    display: inline-block;
    margin: 0px 14px 0 0;
}

.G7kGDCJ2wRcbxJYucScA button {
    vertical-align: top;
}

.mE1F99i2NP6Bi1o2Y_o7 {
    margin-left: 5px;
    margin-right: 5px;
}

.hip_thm--dark .Kj2exUhTSWqOmmjPCuqi text.Hj_NDFDJjQMVFUznUvkN {
    fill: #ddd;
}

.hip_thm--dark .G7kGDCJ2wRcbxJYucScA {
    background: #040404;
    color: #f3f3f3;
}

.hip_thm--dark {
    background: #131313;
    color: #e3e3e3;
}

.hip_thm--dark a {
    color: #5ae;
}

.hip_thm--dark .kUMPTe9OyckLXwPNtROz {
    fill: none;
}

.hip_thm--dark ::-webkit-scrollbar-track {
    background: #222;
}

.hip_thm--dark ::-webkit-scrollbar-thumb {
    background: #444;
}

.hip_thm--dark .G7kGDCJ2wRcbxJYucScA button:enabled {
    border-color: #fff !important;
}

.hip_thm--dark .Gko9sDmSCvhp6ssPh2z6 line {
    stroke: #fff;
    stroke-width: 2;
}

.hip_thm--dark .x0UosWszvrm1OAKIC9Vv rect {
    fill: #635075;
}
